body {
    background-color: blanchedalmond;
    font-family: 'Inconsolata', monospace;
}

header {
    margin: auto;
    text-align: center;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 140, 0, 0.315);
    color: teal;
    font-weight: 900;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.01em;
    font-size: 3em;
}

#subheader {
    font-size: 0.7em;
    letter-spacing: 0.05em;
    font-weight: 500;
    display: none;
}

button {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    letter-spacing: 0.05em;
    transition-duration: 0.2s;
    border: 0px solid teal;
    background-color: teal;
    color: white;
    padding: 8px;
    margin: 4px;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px gray;
}
  
button:hover {
    padding: 12px;
    /*border: 4px solid teal;*/
    margin: 0px;
}

.grid{
    display: grid;
    /*grid-template-columns: repeat(2 , 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    grid-template-rows: auto;
    grid-gap: 10px;
    max-width: 1800px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    max-width: 350px;
    max-height: 500px;
    overflow: auto;
    /*background-color: rgb(253, 180, 71);*/
    margin: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 232, 202, 0.445), rgba(255, 119, 0, 0.315) );
    font-size: x-small;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card-header {
    margin: auto;
    text-align: center;
}

hr {
    box-sizing: border-box;
    margin-right: 15px;
}