* {
    background-color: blanchedalmond;
    font-family: 'Inconsolata', monospace;
}

header {
    margin: auto;
    text-align: center;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 202, 139);
    color: teal;
    font-weight: 900;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.01em;
    font-size: 3em;
}

button {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    letter-spacing: 0.05em;
    transition-duration: 0.2s;
    border: 0px solid teal;
    background-color: teal;
    color: white;
    padding: 8px;
    margin: 4px;
    box-sizing: border-box;
}
  
button:hover {
    padding: 12px;
    /*border: 4px solid teal;*/
    margin: 0px;
}